/* TODO: Remove this. */
canvas {
  border: 1px solid #ccc;
}

.dash {
  position: absolute;
  left: 0;
  top: 0;
}

.sub {
  position: absolute;
  left: 200px;
  top: 468px;
  z-index: 1;
}

.display {
  position: absolute;
  left: 100px;
  top: 100px;
}

.count {
  position: absolute;
  left: 665px;
  top: 100px;
}

.button {
  position: absolute;
  left: 667px;
  top: 328px;
}

.booklet {
  position: absolute;
  left: 910px;
  top: 30px;
}

.light {
  position: absolute;
  left: 444px;
  top: 426px;
}

.mapwrapper {
  position: absolute;
  left: 210px;
  top: 605px;
  overflow: hidden;
  width: 1605px;
}
