/* TODO: Remove this. */
/* canvas {
  border: 1px solid #ccc;
}

.intro {
  display: none !important;
}

.game-area {
  display: block !important;
}

*/

/*
@font-face {
  font-family: "Glasstown NBP";
  src: url("../fonts/glasstownnbpregular-rymm-webfont.woff2") format("woff2"),
    url("../fonts/glasstownnbpregular-rymm-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
/*
.hidden {
  display: none;
} */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  display: grid;

  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.intro {
  width: 1920px;
  height: 1080px;
  background-image: url("../img/start.png");

  display: grid;
  align-items: center;
  justify-items: center;
}

.start-btn {
  position: absolute;
  top: 930px;

  font-family: "Birch STD";
  font-size: 80px;
  background-color: transparent;
  border: 0;
  border-radius: 60px;
  padding-left: 55px;
  padding-right: 55px;
  line-height: 2;
  color: rgb(211, 211, 211);
  cursor: pointer;
}

.game-area {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 1920px;
}

.dash {
  position: absolute;
  left: 0;
  top: 0;
}

.sub {
  position: absolute;
  left: 200px;
  top: 468px;
  z-index: 2;
}

.display {
  position: absolute;
  left: 100px;
  top: 100px;
}

.count {
  position: absolute;
  left: 665px;
  top: 100px;
}

.button {
  position: absolute;
  left: 669px;
  top: 328px;
  cursor: pointer;
}

.booklet {
  position: absolute;
  left: 910px;
  top: 30px;
  cursor: pointer;
}

.light {
  position: absolute;
  left: 444px;
  top: 426px;
}

.mapwrapper {
  position: absolute;
  left: 210px;
  top: 605px;
  overflow: hidden;
  width: 1605px;
}

.map {
  cursor: pointer;
}

.exp {
  position: absolute;
  z-index: 9999;
  /* position: absolute;
  z-index: 999;
  left: 20px;
  top: 20px;
  width: 100px; */
}
